# Add any directories, files, or patterns you don't want to be tracked by version control
/.idea/*
scripts/any/*
scripts/errors/*
scripts/graf/*
scripts/mes/*
scripts/predic/*
scripts/plantilla/*
scripts/procediments/*
scripts/quadraments/*
uploads/*
Resources/archivos/*
controllers/*